 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Puck</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><img class="img-responsive" src="img/self-portrait-s.png" width="85%" /></p>
                </div>
                <div class="col-lg-5">
                    <p> I am an Assistant Professor of Computer Science at <b>Colgate University</b>.
                    <p> Prior to this, I was a Postdoctoral Research Associate in the Interactive Robotics and Language (IRAL) lab at the University of Maryland, Baltimore County. I was co-advised by <a href="https://redirect.cs.umbc.edu/~cmat/" target="_blank" style="color: #ffffff"> <b>Dr. Cynthia Matuszek</b></a> and <a href="https://redirect.cs.umbc.edu/~ferraro/" target="_blank" style="color: #ffffff"> <b>Dr. Francis Ferraro</b></a>. <br>
                    <p> I completed my Ph.D. in Computer Science at the Colorado School of Mines, advised by <a href="https://people.mines.edu/twilliams/" target="_blank" style="color: #ffffff"> <b>Dr. Tom Williams</b></a>. <br>
                    My research centers on <b>human-robot interaction</b>, with a particular emphasis on robot ethics, linguistic HRI, and social robotics. I am also interested in (robotics-centric) Computer Science education. <br>
                    My overarching research goal is to develop morally and socially competent robots which can exert positive influence and help preserve a better moral ecosystem between humans and robots. <br>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="CV_rwen.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
