 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Puck</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><img class="img-responsive" src="img/self-portrait-s.png" width="85%" /></p>
                </div>
                <div class="col-lg-5">
                    <p> I am a Ph.D. student in the Department of Computer Science at the Colorado School of Mines. My advisor is <a href="https://people.mines.edu/twilliams/" target="_blank" style="color: #ffffff"> <b>Dr. Tom Williams</b></a>. <br>
                    My research focuses on <b>robot ethics</b> and <b>linguistic human-robot interaction</b>.  I am also interested in emotion understanding and representation and (robotics-centric) Computer Science education.   <br>
                    Currently, I am working on enabling robotic moral and social competence with role ethics by proposing a hybrid relational-normative model of robot cognitive processes. <br>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="CV_rwen.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
